.contact-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.contact_title {
    margin: 4rem 0;
    text-transform: uppercase;
}

.contact_title h1 {
    font-size: 2.5rem;
}

.contact_paragraph {
    width: 80%;
}

.contact_paragraph p {
    margin-bottom: 3rem;
}

.contact_icons {
    width: 80%;
    margin-bottom: 6rem;
}

.contact_icons-line {
    height: 3px;
    width: 100%;
    background-color: aliceblue;
}

.contact_icons-icons {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_icons-icons img {
    width: 3rem;
    transition: all .2s ease-in-out;
}

.contact_icons-icons img:hover {
    transform: scale(120%);
}

@media screen and (min-width: 700px) {
    .contact_title {
        margin:5rem 0 5rem 0;
    }

    .contact_title h1 {
        font-size: 5rem;
    }

    .contact_paragraph p {
        margin-bottom: 5rem;
        font-size: 2rem;
    }

    .contact_icons {
        margin-bottom: 8rem;
    }

    .contact_icons-icons {
        margin: 4rem 0;
    }

    .contact_icons-icons img {
        width: 4.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .contact-container {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .contact_title {
        margin-top: 8rem;
    }

    .contact_paragraph {
        width: 60%;
    }

    .contact_paragraph p {
        margin-bottom: 3rem;
        font-size: 1.5rem;
    }

    .contact_icons {
        width: 50%;
    }

    .contact_icons-icons {
        margin: 1rem 0;
    }

    .contact_icons-icons img {
        font-size: 4rem;
        padding: 2rem 0;
    }
}

@media screen and (min-width: 1900px) {

    .contact_title {
        margin-bottom: 6rem;
        margin-top: 10rem;
    }

    .contact_title h1 {
        font-size: 6rem;
    }

    .contact_paragraph p {
        margin-bottom: 5rem;
        font-size: 2rem;
    }

    .contact_icons-icons {
        margin: 2rem 0;
    }

    .contact_icons-icons img {
        width: 6rem;
    }
}