.nav-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.logo {
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
    width: 2rem;
    cursor: pointer;
}

.contact,
.about,
.portfolio,
.home {
    width: 80px;
    cursor: pointer;
    position: absolute;
}

.home {
    bottom: 3.5rem;
    right: 0.5rem;
}

.portfolio {
    bottom: 3rem;
    right: 3rem;
}

.about {
    bottom: 1rem;
    right: 3rem;
}

.contact {
    bottom: 1rem;
    right: 1.5rem;
}

@media screen and (min-width: 1000px) {
    .nav-container {
        display: none;
    }
}